@import './mixins/breakpoints';

.Container {
    padding: 20px 30px;
    @include breakpoint('sm') {
        padding: 80px 120px;
    }
}

.PollArea .TabbedContent{
    margin-top: 0;
    @include breakpoint('sm') {
        margin-top: -150px;
    }
}