@import './_util/breakpoints';
@import './_util/color';

.Container {
    padding: 20px 30px;
    @include breakpoint('sm') {
        padding: 80px 120px;
    }
}

.PollArea.Container {
    background-color: $color-darkest-gray;
    @include breakpoint('sm') {
        padding: 30px 120px;
    }
}