@import './_util/typography';
@import './_util/breakpoints';

@keyframes pulse {
    to {
        transform: scale(1.1) translate(-20px, -10px);
    }
}

.Header {
    $secondary-color: #f1c40f;
    $dark-white: #ecf0f1;
    $middle-spacer: 60px;

    color: white;
    min-height: 40vw;
    max-height: 1500px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    .Header-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: center bottom;
        z-index: -1;
        filter: brightness(0.6);
        animation: pulse 25s infinite alternate linear;
    }

    .Header-title {
        text-align: left;
        text-shadow: 1px 1px 3px #000000a3;
    }

    .Header-subtitle {
        @include text_mono();
        color: black;
        background-color: $secondary-color;
        border-radius: 2px;
        padding: 10px;
        display: inline-block;
        margin-top: $middle-spacer;
    }

    .Header-trailer {
        @include text_mono();

        background-color: white;
        color: black;
        border: 2px solid white;
        border-radius: 2px;
        padding: 8px 18px;
        margin-top: 15px;
        margin-bottom: $middle-spacer;
        transition: background-color 200ms ease-in;

        .PlayButton {
            border-color: black;
            margin-left: 0.75em;
        }

        &:hover {
            cursor: pointer;
            background-color: $dark-white;
        }
        
    }

    .Header-text-container {
        @include breakpoint('sm') {
            max-width: 50vw;
        }
    }

    .Header-plot {
        margin-bottom: 5px;
    }

    .Header-website {
        padding-left: 5px;
        color: white;
        transition: color 200ms ease-in;
        &:hover {
            color: $dark-white;
        }
    }

    .Header-genre, .Header-rating, .Header-runtime {
        display: inline-block;
        padding: 0 15px 0 0;
    }

    .Header-genre {
        @include text_utility();
        font-weight: bold;
        text-shadow: 1px 1px 3px #000000a3;
    }

    .Header-rating, .Header-runtime {
        @include text_mono();
    }
}