.Header {
    color: white;
    min-height: 50vw;
    background-size: cover;
    background-position: center bottom;

    .Header-title {
        padding-top: 150px;
        text-align: left;
    }
}