@import 'typeface-catamaran';
@import './mixins/typography';

body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

html, body {
    padding: 0;
    margin: 0;

    h1, h2, h3, h4, h5, p {
        margin: 0;
    }
}

a {
    font-weight: bold;
}

h1 { 
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

h2 {
    letter-spacing: 0.1em;
}