@import './_util/breakpoints';
@import './_util/button';
@import './_util/color';
@import './_util/typography';

.Login {
    background-color: rgba($color-yellow, 0.8);
    color: black;
    width: calc(100vw - 40px);
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    text-align: center;

    @include breakpoint('sm') {
        width: 500px;
        padding: 50px;
    }

    small, input, button {
        display: block;
        margin: auto;
    }

    button {
        @include button();
    }

    input, button {
        margin-top: 10px;
        padding: 10px;
        border-radius: 2px;
    }

    input {
        @include text_mono();
        text-align: center;
        border: 0;
        width: 100%;
        font-size: 70%; 

        &:disabled {
            background-color: $color-light-gray;
        }

        @include breakpoint('xs') {
            width: 250px;
        }
    }

    .Login-title {
        @include text_utility();
    }

    .Login-step {
        margin-top: 30px;
        opacity: 0.3;
        transition: all 200ms ease;

        &--active {
            opacity: 1;
        }
    }
}