.PlayButton {
    border: 2px solid white;
    border-radius: 50%;
    padding: 3px 2px 3px 4px;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}